html, body {
  background-color: gray;
}
/*This is where the body of the site starts.*/

.column-layout {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-basis: 30%;
}

.column:nth-child(1) {background-color: #c0dbe2}
.column:nth-child(2) {background-color: #cdf1c3}
.column:nth-child(3) {background-color: #ccb9da}

@media (min-width: 900px) {
  .column-layout {
    display: flex;
    justify-content: space-between;
  }
}
/* How to center text using flexbox*/
.banner {
  height: 400px;
  max-width: 700px;
  margin: 40px auto 40px auto;
  background-color: #2a2a2a;
  display: flex;
}

.center-me {
  color: #FFF;
  font-size: 50px;
  margin: auto;
}
/* End of How to center text using flexbox*/

/* How to Columns and Rows using Flexbox*/

.equal-height-container {
max-width: 900px;
margin: 0 auto;
display: flex;
}

.first {
  background-color: #FFF;
  padding: 20px;
  flex: 1;
}

.second {
  background-color: yellow;
  flex: 1;
  display: flex;
  /*Flex inside of a Flex*/
  flex-direction: column;
  /*Use flex-direction for either Row or Column layout*/
}

.second-a {
  background-color: #c0dbe2;
  flex: 1;
}

.second-b {
  background-color: #cdf1c3;
  flex: 1;
}
/* /How to Columns and Rows using Flexbox*/
